$font-barlow-condensed: 'Barlow Condensed', sans-serif;
$font-barlow: 'Barlow', sans-serif;
$font-bellefair: 'Bellefair', serif;
$dark-blue: #0B0D17;
$light-blue: #D0D6F9;
$white: #FFFF;
$transparent-bg: rgba(255, 255, 255, 0.04);
$filter: blur(40.7742px)